apiVersion: v1
kind: Secret
metadata:
  name: user-service-secret
  namespace: mypoly
type: Opaque
stringData:
  KAKAO_CLIENT_ID: "실제_클라이언트_ID_여기에_입력"
  KAKAO_CLIENT_SECRET: "실제_클라이언트_시크릿_여기에_입력"

  JWT_SECRET: "실제_JWT_시크릿_여기에_입력"
