apiVersion: v1
kind: Secret
metadata:
  name: bill-batch-secret
  namespace: mypoly
type: Opaque
stringData:
  BILL_SERVICE_KEY: "여기에_실제_BILL_SERVICE_KEY"

  GEMINI_API_KEY: "여기에_실제_GEMINI_API_KEY"
  GEMINI_API_KEY_1: "여기에_실제_GEMINI_API_KEY_1"
  GEMINI_API_KEY_2: "여기에_실제_GEMINI_API_KEY_2"
  GEMINI_API_KEY_3: "여기에_실제_GEMINI_API_KEY_3"
  GEMINI_API_KEY_4: "여기에_실제_GEMINI_API_KEY_4"
  GEMINI_API_KEY_5: "여기에_실제_GEMINI_API_KEY_5"
  GEMINI_API_KEY_6: "여기에_실제_GEMINI_API_KEY_6"
  GEMINI_API_KEY_7: "여기에_실제_GEMINI_API_KEY_7"
  GEMINI_API_KEY_8: "여기에_실제_GEMINI_API_KEY_8"
  GEMINI_API_KEY_9: "여기에_실제_GEMINI_API_KEY_9"
  GEMINI_API_KEY_10: "여기에_실제_GEMINI_API_KEY_10"
  GEMINI_API_KEY_11: "여기에_실제_GEMINI_API_KEY_11"